language: node_js
node_js:
  - stable
addons:
  sauce_connect: true
cache:
  directories:
    - node_modules
install:
  - npm install
script:
  - echo "npm test temporarily disabled"
  - npm run lint
  - npm run test
true:
  branch: master