.CodeRoadMainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #333;
  overflow: hidden;
}
.CodeRoadMainChart {
  flex: 1;
  position: relative;
  min-width: 0;
}
.CoadRoadToolsBar {
  position: absolute;
  top: 0;
  right: 0;
}
.CodeRoadCodeBoard {
  flex: 1;
  position: relative;
  min-width: 0;
  background-color: #333;
  padding-left: 18px;
}
.CodeRoadDragHandler {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 100%;
  cursor: col-resize;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background: #1d1e22;
}
.CodeRoadCodeEditor{
  position: relative;
  height: 100%;
  /* overflow: scroll; */
  color: antiquewhite;
}
.CodeRoadCodeHeader{
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  background-color: #1d1e22;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 15px;
}
.CodeRoadCodeContainer{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
